
/* ASYNC WEATHER TRACKER */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, rgb(117, 117, 202) 0%, rgb(177, 198, 255) 100%);
}

#heading{
    color: white;
    text-align: center;
    margin: 20px;
}

#main-search-history{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

#search{
    background-color: white;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#weather-info{
    background-color: white;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

