
/* ASYNC WEATHER TRACKER */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, rgb(113, 1, 1) 0%, rgb(0, 21, 79) 100%);
}

#heading{
    color: white;
    text-align: center;
    margin: 20px;
}

#main-search-history{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

#search{
    background-color: white;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 30px;
}

#console{
    background-color: white;
    height: 100px;
    width: 830px;
    position: relative;
    left: 282px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-top: 30px;
}

label{
    font-weight: bold;
    font-size: large;
}

input{
    padding: 3px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid skyblue;
}

#search h2, #weather-info h2, #console h2{
    font-weight: bold;
    font-size: large;
}

button{
    background-color: rgb(45, 44, 44);
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}


#weather-info{
    background-color: white;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#event-loop{
    background-image: linear-gradient(to right, rgb(113, 1, 1) 0%, rgb(0, 21, 79) 100%);
    height: 35px;
    margin-top: 12px;
    border-radius: 10px;
}

button:hover{
    background-image: linear-gradient(to right, rgb(113, 1, 1) 0%, rgb(0, 21, 79) 100%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 5.5px;
}