* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(173, 173, 244) 0%,
    rgb(109, 123, 253) 100%
  );
}

#main-head {
  color: white;
  font-size: x-large;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

#new-event {
  background-color: white;
  height: 400px;
  width: 280px;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  line-height: 32px;
}

#events {
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 400px;
  border-radius: 15px;
  margin-left: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  line-height: 45px;
}

#main-dom-demo {
  display: flex;
  justify-content: center; 
}

#dom-demo {
  background-color: white;
  height: 110px;
  width: 700px;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 45px;
  padding-bottom: 30px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  line-height: 40px
}

#demoContent{
    width: 670px;
    height: 32px;
    border-radius: 10px;
    border: 2px solid grey;
}

#event-main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.btn {
  background-color: rgb(59, 1, 161);
  color: white;
  border-color: rgb(59, 1, 161);
  font-weight: bold;
  border-radius: 5px;
}

.btn:hover{
  background-image: linear-gradient(to right, rgb(255, 146, 237) 0%, rgb(117, 105, 255) 100%);
  border: none;
}

#b1{
    width: 240px;
    height: 30px;   
}

#b2,#b3{
    height: 30px;
    width: 175px;
}

.empty-state{
    color: rgb(91, 91, 91);
    text-align: center;
}

h2{
    color: rgba(32, 32, 32, 0.945);
    font-size: x-large;
}

input,select{
    height: 28px;
    width: 240px;
    border-radius: 5px;
    border-width: 1.5px;
    border-color: rgb(180, 169, 169);
    padding: 5px;
}

textarea{
    height: 60px;
    width: 240px;
    border-radius: 5px;
    border-color: rgb(180, 169, 169);
    border-width: 1.5px;
    padding: 5px;
}
